<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mar.dao.UserDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="PageResult" type="com.mar.entity.User">
		<id column="id" property="id" />
		<result column="account" property="account" />
		<result column="name" property="name" />
		<result column="telephone" property="telephone" />
		<result column="is_status" property="status" />
		<result column="last_login_time" property="lastLoginTime" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
		<association property="company" javaType="com.mar.entity.Company">
			<id column="company_id" property="id" />
			<result column="company_name" property="name" />
		</association>
		<collection property="roles" ofType="com.mar.entity.Role">
			<id column="role_id" property="id" />
			<result column="role_code" property="code" />
			<result column="role_name" property="name" />
		</collection>
	</resultMap>

	<select id="pageResult" resultMap="PageResult" >
		SELECT u.id,u.account,u.name,u.telephone,u.is_status,u.last_login_time,u.create_user,u.create_time,u.update_user,u.update_time,
		c.name as company_name,c.id as company_id,
		r.id as role_id,r.code as role_code,r.name as role_name
		FROM user u
		LEFT JOIN company c on c.id=u.company_id
		LEFT JOIN user_role ur on ur.user_id=u.id
		LEFT JOIN role r on ur.role_id=r.id
		<where>
			<if test="name!=null">
				AND    u.name LIKE CONCAT(CONCAT('%', #{name}), '%')
            </if>
            <if test="companyId!=null">
				AND  u.company_id = #{companyId}
            </if>
        </where>
	</select>

</mapper>
